* {
  margin: 10px 0;
  color: #000;
  filter: grayscale(1);
  user-select: none;
}
body {
  font-family: sans-serif;
  padding: 0px 20px;
  max-width: 400px;
}
hr {
  border: 0.75px solid;
  margin-bottom: 0;
}
div {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
video {
  width: 100%;
  margin-top: 5px;
  filter: contrast(10);
}
